{
  "plugins": [
    ["@babel/plugin-proposal-decorators", {"legacy": true}],
    "babel-plugin-dynamic-import-node"
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "8"
        }
      }
    ]
  ]
}
